:root {
    --bg: #FAF9EF;
	--bg_a: rgba(250, 249, 239, 0.5);
    --text: #4F6A5C;
    --accent: #A23A4A;
	--text_a: rgba(226, 241, 183, 0.25);
	--nav: #E2F1B7;
}

@font-face {
    font-family: 'Miama';
    src: url('/assets/fonts/miama.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

* {
    /* border: solid 1px black; */
	box-sizing: border-box;
}

body {
	margin: 0;
	background: var(--bg);
	color: var(--text);
    display: flex;
    flex-direction: column;
    align-items: center;
	font-size: 1.25rem;
}

h1 {
	font-size: 2.5rem;
	padding-top: 2vh;
}

h2 {
	font-size: 1.5rem;
}

.highlight {
	color: var(--accent);
	font-weight: 600;
}

#card {
	width: 75%;
	overflow: hidden;
	position: relative;
	height: 100vh;
	/* aspect-ratio: 1/1; */
}

#card img {
	position: absolute;
	top: 0;
	left: 30%;
	height: 100%;
	/* max-height: 50vh; */
	width: 100%;
	object-fit: cover;    /* Ensures image fills the square perfectly */
	opacity: 0.9;
	padding: 5vh 5vh 0 0;
}

#card-1 {
	position: absolute;
	top: 25%;            /* Pins it to the bottom */
	left: 0;
	width: 50%;          /* Stretches across the image */
	height: 75%;
	/* Centering the text inside this half */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: linear-gradient(
  		to right, 
		rgba(250, 249, 239, 1) 0%,
		rgba(250, 249, 239, 1) 70%,
		rgba(250, 249, 239, 0.5) 100%,
		transparent 100%
	);
	color: var(--text);
	/* padding: 20px; */
}

#thank-you {
	width: 100%;
	text-align: center;
}

#rsvp-op {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: 1vh;
}

#rsvp-link-op {
	color: var(--accent);
	border-color: var(--accent);
	background-color: var(--nav);
	padding-left: 3vw;
	padding-right: 3vw;
	padding-top: 1vw;
	padding-bottom: 1vw;
	border-radius: 8px;
	text-decoration: none;
	font-weight: 600
}

.zone {
	width: 75%;
	display: flex;
	flex-direction: row;
	align-items: center;
	max-height: 70vmin;
	overflow: hidden;
}

#welcome-text {
	flex: 2;
	height: 100%;
	font-size: 1.25rem;
	line-height: 1.6;
	align-items: center;
}

#welcome-img {
	flex: 1;
	height: 100%;
	max-width: 50vmin;
	object-position: top center;
	object-fit: contain;
	padding-left: 2vw;
}

#conclusion {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-content: center;
}

#conclusion > p {
	flex: 2;
}

#rsvp {
	flex: 1;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#rsvp-link {
	color: var(--accent);
	border-color: var(--accent);
	background-color: var(--nav);
	padding-left: 3vw;
	padding-right: 3vw;
	padding-top: 1vw;
	padding-bottom: 1vw;
	border-radius: 8px;
	text-decoration: none;
	font-weight: 600
}

.zone-text {
	width: 75%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-height: 70vmin;
	overflow: hidden;
}

.date {
	font-weight: bold;
	color: var(--accent);
}

#map-pair {
	display: flex;
	flex-direction: row;
};

.map-block {
	flex: 1;
	align-items: center;
	object-position: center;
}

.map-block iframe {
	/* padding: 5%; */
	width: 100%;
	aspect-ratio: 1/1;
	max-width: 40vmin;
	max-height: 40vmin;
}

.map-block + .map-block {
	margin-left: 10%;
}

#transports {
	width: 100%;
}

#logements {
	width: 100%;
}